<a href="https://colab.research.google.com/github/Tarunrathi22/Tarun/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
Pandas is a library.<br>
Pandas is used to analyse data.<br>

###import pandas

In [1]:
import pandas

to use alias we use "as"

In [2]:
import pandas as pd

In [4]:
import pandas as pd
mydataset = {
    'cars' : ["BMW","volvo","skoda"],
    'passings':[3,7,2]
}
df = pd.DataFrame(mydataset)
myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  volvo         7
2  skoda         2

to check version of the pandas

In [5]:
print(pd.__version__)

2.0.3

## What is Pandas Series?
A Pandas Series is like a column in a table.<br>
It is a one-dimensional array holding data of any type.<br>

In [6]:
import pandas as pd
a=[1,4,3,6,5]
x=pd.Series(a)
print(x)

0    1
1    4
2    3
3    6
4    5
dtype: int64

##Labels
If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.<br>
This label can be used to access a specified value.

In [9]:
#return the first value od the series
print(x[0])

1

In [13]:
#creating labels
a=[1,4,3,6,5]
x=pd.Series(a,index=["a","b","c","d","e"])
print(x)
# here abcde will be the new index

a    1
b    4
c    3
d    6
e    5
dtype: int64

##Key/Value Objects as Series

You can also use a key/value object, like a dictionary, when creating a Series.

In [15]:
calories={"day1":423,"day2":380,"day3":390}
myvar=pd.Series(calories)
print(myvar)
#

day1    423
day2    380
day3    390
dtype: int64

> Note : The keys of the dictionary become the labels.

To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.

In [16]:
# Create a Series using only data from "day1" and "day2":

x=pd.Series(calories,index=["day1","day2"])
print(x)

day1    423
day2    380
dtype: int64

# DataFrames
Data sets in Pandas are usually multi-dimensional tables, called DataFrames.<br>
Series is like a column, a DataFrame is the whole tab

In [17]:
import pandas as pd
data={
    " calories":[420,380,390],
    "duration":[50,40,45]
}

x=pd.DataFrame(data)
print(x)

    calories  duration
0        420        50
1        380        40
2        390        45