#Contact Management System

In [1]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('contact_manager.db')
cursor = conn.cursor()

# Create the contacts table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS contacts (
        id INTEGER PRIMARY KEY,
        first_name TEXT,
        last_name TEXT,
        email TEXT,
        phone_number TEXT,
        address TEXT
    )
''')

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [2]:
def add_contact(first_name, last_name, email, phone_number, address):
    conn = sqlite3.connect('contact_manager.db')
    cursor = conn.cursor()

    cursor.execute('''
        INSERT INTO contacts (first_name, last_name, email, phone_number, address)
        VALUES (?, ?, ?, ?, ?)
    ''', (first_name, last_name, email, phone_number, address))

    conn.commit()
    conn.close()

In [3]:
def view_contacts():
    conn = sqlite3.connect('contact_manager.db')
    cursor = conn.cursor()

    cursor.execute('SELECT * FROM contacts')
    contacts = cursor.fetchall()

    for contact in contacts:
        print(f"ID: {contact[0]}, First Name: {contact[1]}, Last Name: {contact[2]}, Email: {contact[3]}, Phone Number: {contact[4]}, Address: {contact[5]}")

    conn.close()

In [4]:
def update_contact(id, first_name=None, last_name=None, email=None, phone_number=None, address=None):
    conn = sqlite3.connect('contact_manager.db')
    cursor = conn.cursor()

    query = 'UPDATE contacts SET '
    values = []

    if first_name:
        query += 'first_name = ?, '
        values.append(first_name)
    if last_name:
        query += 'last_name = ?, '
        values.append(last_name)
    if email:
        query += 'email = ?, '
        values.append(email)
    if phone_number:
        query += 'phone_number = ?, '
        values.append(phone_number)
    if address:
        query += 'address = ?, '
        values.append(address)

    query = query.rstrip(', ') + ' WHERE id = ?'
    values.append(id)

    cursor.execute(query, values)

    conn.commit()
    conn.close()

In [5]:
def delete_contact(id):
    conn = sqlite3.connect('contact_manager.db')
    cursor = conn.cursor()

    cursor.execute('DELETE FROM contacts WHERE id = ?', (id,))

    conn.commit()
    conn.close()

In [6]:
# Add some sample contacts
add_contact('John', 'Doe', 'john.doe@example.com', '123-456-7890', '123 Main St')
add_contact('Jane', 'Smith', 'jane.smith@example.com', '098-765-4321', '456 Elm St')
add_contact('Bob', 'Johnson', 'bob.johnson@example.com', '555-123-4567', '789 Oak St')

In [7]:
# View all contacts
view_contacts()

ID: 1, First Name: John, Last Name: Doe, Email: john.doe@example.com, Phone Number: 123-456-7890, Address: 123 Main St
ID: 2, First Name: Jane, Last Name: Smith, Email: jane.smith@example.com, Phone Number: 098-765-4321, Address: 456 Elm St
ID: 3, First Name: Bob, Last Name: Johnson, Email: bob.johnson@example.com, Phone Number: 555-123-4567, Address: 789 Oak St

In [8]:
# Update a contact
update_contact(1, email='john.doe2@example.com')

In [9]:
# View all contacts again
view_contacts()

ID: 1, First Name: John, Last Name: Doe, Email: john.doe2@example.com, Phone Number: 123-456-7890, Address: 123 Main St
ID: 2, First Name: Jane, Last Name: Smith, Email: jane.smith@example.com, Phone Number: 098-765-4321, Address: 456 Elm St
ID: 3, First Name: Bob, Last Name: Johnson, Email: bob.johnson@example.com, Phone Number: 555-123-4567, Address: 789 Oak St

In [10]:
# Delete a contact
delete_contact(2)

In [12]:
# View all contacts again
view_contacts()

ID: 1, First Name: John, Last Name: Doe, Email: john.doe2@example.com, Phone Number: 123-456-7890, Address: 123 Main St
ID: 3, First Name: Bob, Last Name: Johnson, Email: bob.johnson@example.com, Phone Number: 555-123-4567, Address: 789 Oak St