#Library Management System

In [1]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('library.db')
cursor = conn.cursor()

# Create the books table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        id INTEGER PRIMARY KEY,
        title TEXT,
        author TEXT,
        publication_date DATE,
        genre TEXT
    )
''')

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [2]:
def add_book(title, author, publication_date, genre):
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()

    cursor.execute('''
        INSERT INTO books (title, author, publication_date, genre)
        VALUES (?, ?, ?, ?)
    ''', (title, author, publication_date, genre))

    conn.commit()
    conn.close()

In [3]:
def view_books():
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()

    cursor.execute('SELECT * FROM books')
    books = cursor.fetchall()

    for book in books:
        print(f"ID: {book[0]}, Title: {book[1]}, Author: {book[2]}, Publication Date: {book[3]}, Genre: {book[4]}")

    conn.close()

In [4]:
def update_book(id, title=None, author=None, publication_date=None, genre=None):
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()

    query = 'UPDATE books SET '
    values = []

    if title:
        query += 'title = ?, '
        values.append(title)
    if author:
        query += 'author = ?, '
        values.append(author)
    if publication_date:
        query += 'publication_date = ?, '
        values.append(publication_date)
    if genre:
        query += 'genre = ?, '
        values.append(genre)

    query = query.rstrip(', ') + ' WHERE id = ?'
    values.append(id)

    cursor.execute(query, values)

    conn.commit()
    conn.close()

def delete_book(id):
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()

    cursor.execute('DELETE FROM books WHERE id = ?', (id,))

    conn.commit()
    conn.close()

In [5]:
# Add some sample books
add_book('To Kill a Mockingbird', 'Harper Lee', '1960-07-11', 'Fiction')
add_book('1984', 'George Orwell', '1949-06-08', 'Dystopian')
add_book('The Great Gatsby', 'F. Scott Fitzgerald', '1925-04-10', 'Romance')

In [6]:
# View all books
view_books()

ID: 1, Title: To Kill a Mockingbird, Author: Harper Lee, Publication Date: 1960-07-11, Genre: Fiction
ID: 2, Title: 1984, Author: George Orwell, Publication Date: 1949-06-08, Genre: Dystopian
ID: 3, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Publication Date: 1925-04-10, Genre: Romance

In [7]:
# Update a book
update_book(1, title='To Kill a Mockingbird (Updated)')

In [8]:
# View all books again
view_books()

ID: 1, Title: To Kill a Mockingbird (Updated), Author: Harper Lee, Publication Date: 1960-07-11, Genre: Fiction
ID: 2, Title: 1984, Author: George Orwell, Publication Date: 1949-06-08, Genre: Dystopian
ID: 3, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Publication Date: 1925-04-10, Genre: Romance

In [9]:
# Delete a book
delete_book(2)

In [10]:
# View all books again
view_books()

ID: 1, Title: To Kill a Mockingbird (Updated), Author: Harper Lee, Publication Date: 1960-07-11, Genre: Fiction
ID: 3, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Publication Date: 1925-04-10, Genre: Romance