# Personal Expense Tracker

In [1]:
import sqlite3

conn = sqlite3.connect('expense_tracker.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS expenses (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        date TEXT NOT NULL,
        category TEXT NOT NULL,
        amount REAL NOT NULL,
        description TEXT
    )
''')
conn.commit()

In [2]:
def add_expense(date, catagory, amount, description):
    cursor.execute('''
        INSERT INTO expenses (date, category, amount, description)
        VALUES (?, ?, ?, ?)
    ''', (date, catagory, amount, description))
    conn.commit()

In [3]:
def view_expenses():
    cursor.execute('SELECT * FROM expenses')
    expenses = cursor.fetchall()
    return expenses

In [4]:
def update_expense(expense_id, date=None, category=None, amount=None, description=None):
    query = 'UPDATE expenses SET'
    params = []
    if date:
        query += ' date = ?,'
        params.append(date)
    if category:
        query += ' category = ?,'
        params.append(category)
    if amount:
        query += ' amount = ?,'
        params.append(amount)
    if description:
        query += ' description = ?,'
        params.append(description)
    query = query.rstrip(',') + ' WHERE id = ?'
    params.append(expense_id)
    cursor.execute(query, params)
    conn.commit()

def delete_expense(expense_id):
    cursor.execute('DELETE FROM expenses WHERE id = ?', (expense_id,))
    conn.commit()

In [5]:
#Add some exenses
add_expense('2024-09-10', 'Food', 'Lunch', 12.50)
add_expense('2024-09-11', 'Transport', 'Bus ticket', 2.75)

In [6]:
#view expense
view_expenses()

[(1, '2024-09-10', 'Food', 'Lunch', '12.5'),
 (2, '2024-09-11', 'Transport', 'Bus ticket', '2.75')]

In [7]:
#update expense
update_expense(1, '2024-09-10', 'Food', 'Lunch at restaurant', 15.00)

In [8]:
#delete expense
delete_expense(2)

In [9]:
view_expenses()

[(1, '2024-09-10', 'Food', 'Lunch at restaurant', '15.0')]